Display name,address,telephone number

In [ ]:
name=("Fathimath Nahida")
address=("iti road,naimarmoola,ksd")
number=("9072870550")
print(name)
print(address)
print(number)

Fathimath Nahida
iti road,naimarmoola,ksd
9072870550

 Evalauting your name

In [ ]:
name="Fathimath Nahida"
print("your name is:",name)

your name is: Fathimath Nahida

 Area of rectangle

In [ ]:
width=int(input("Enter the width"))
height=int(input("Enter the height"))
area=width*height
print("The area is:",area,"sqaure units")

Enter the width33
Enter the height22
The area is: 726 sqaure units

 Area of Triangle

In [ ]:
base=int(input("Enter the base:"))
height=int(input("Enter the height:"))
area=0.5*base*height
print("The area is:",area,"sq units")

Enter the base:3
Enter the height:4
The area is: 6.0 sq units

 Area of circle

In [ ]:
radius=int(input("Enter the radius:"))
area=3.14*radius**2
print("The area of circle is:",area,"sq units")

Enter the radius:4
The area of circle is: 50.24 sq units

 Users name and age

In [ ]:
name=input("Enter your name:")
name=name.upper()
age=int(input("Enter your age:"))
int(age)
print("Enter your name is:",name,"your age:",age)

Enter your name:Nahida
Enter your age:19
Enter your name is: NAHIDA your age: 19

 Entering addition number

In [ ]:
text=input("Enter a number:")
try:
 text=int(text)
 i=text+1
print("the getting number",i,"on adding 1 to text",text)
expect:
print("you have entered text:")

Enter your first name

In [ ]:
text=(input("Enter your first name:"))
if text==("Nahida"):
 print("Hello Nahida!")
else:
  print("Not users first name")

Enter your first name:Nahida
Hello Nahida!