1.Python program to get the largest from a list

In [ ]:
list1=[10,6,7,8,56]
print("largest element is:",max(list1))

largest element is: 56

2.python code to search element in a list

In [ ]:
list=[10,3,4,5,9]
print(list)
num=int(input("Enter element to be search:"))
for i in list:
 if i==num:
   print("element found")
   break
else:
    print("not found")

[10, 3, 4, 5, 9]
Enter element to be search:5
element found

3.python program to sum all the element in a list

In [ ]:
List=[2,6,7,8]
sum=0
for i in List:
  sum=sum+i
print("sum of all items in List:",sum)

sum of all items in List: 23

4.python program to remove duplicates in list

In [ ]:
List1=[10,20,10,20,30,40]
List2=[]
for n in List1:
            if n not in List2:
                      List2.append(n)
print("orginal list")
print("List1:",List1)
print("List after removing duplicate elements")
print("List2:",List2)

orginal list
List1: [10, 20, 10, 20, 30, 40]
List after removing duplicate elements
List2: [10, 20, 30, 40]

5.python Function to take two list and returns true if they have atleast one common member

In [ ]:
def common_data(list1,list2):
  result=False
  for A in list1:
    for B in list2:
      if A==B:
        result=True
        return result
print(common_data([1,2,3,4,5],[5,6,7,8,9]))
print(common_data([1,2,3,4,5],[6,7,8,9]))

True
None

6.python program to append a list to the second list

In [ ]:
list1=[1,6,7,8]
list2=['jhon','rahul','mohan']
final_list=list1+list2
print(final_list)

[1, 6, 7, 8, 'jhon', 'rahul', 'mohan']

7.python program to check given number is composite or not?

In [ ]:
n=int(input("Enter any number:"))
factor=0
for i in range(1,n):
  if n%i==0:
    factor=i
  if factor>1:
    print("The number is composite number!")
  elif n==1:
    print("The number 1 is neither prime nor composite!")
  else:
    print("This is not a composite!")

Enter any number:6
This is not a composite!
The number is composite number!
The number is composite number!
The number is composite number!
The number is composite number!

8.python program to add a two matrices using list

In [ ]:
X=[[2,3,5],
   [5,6,7],
   [2,4,5]]

Y=[[2,5,6],
   [3,6,7],
   [3,5,7]]

result=[[0,0,0],
        [0,0,0],
        [0,0,0]]

for i in range(len(X)):
  for j in range(len(X[0])):
      result[i][j]= X[i][j]+ Y[i][j]
print(result)

[[4, 8, 11], [8, 12, 14], [5, 9, 12]]

9.python program to check if string is palindrome or not

In [ ]:
my_string=input("Enter string:")
if(my_string==my_string[::-1]):
  print("string is palindrome")
else:
  print("string is not palindrome")

Enter string:madam
string is palindrome

10.python program to print multiplication table of a number

In [ ]:
num=8
for i in range(1,11):
  print(num,'X',i,'=',(num*i))

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80